DPTraining/DPTraining/obj/
DPTraining/TrainingApplication/bin/
DPTraining/TrainingApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DPTraining/TrainingApplication/obj/
